<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <base href="/">

    <!--<title><%= title %></title>-->
    <title><%= title %></title>
    <meta name="description" content="<%= ogDescription %>" />

    <meta property="og:title" content="<%= ogTitle %>" />
    <meta property="og:site_name" content="<%= ogSiteName %>"/>
    <meta property="og:url" content="<%= ogUrl %>" />
    <meta property="og:description" content="<%= ogDescription %>" />
    <meta property="og:image" content="<%= ogImage %>" />
    <meta property="og:type" content="<%= ogType %>"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Jamahiel">
    <meta name="twitter:title" content="<%= ogTitle %>">
    <meta name="twitter:description" content="<%= ogDescription %>">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,100,200,300,500,600,700,800,900|Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,900italic,900,800italic,800,700,500italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,400italic,300italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/app.css"/>

    <style type="text/css" media="screen, print">

        @font-face {
            font-family: 'BLOKKNeue-Regular';
            src: url('/public/fonts/BLOKKRegular/webfonts/BLOKKNeue-Regular.eot');
        }

        @font-face {
            font-family: 'BLOKKNeue-Regular';
            src: url('/public/fonts/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.woff') format('woff'),
            url('/public/fonts/BLOKKNeue-Regular/webfonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
        }

    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body data-ng-app="app">

<!--<script>-->
    <!--var content = <--%- JSON.stringify(content) %>;-->
<!--</script>-->
<search-item></search-item>
<loading-item></loading-item>
<alert-item></alert-item>

<div ui-view></div>

<header-item></header-item>
<script type="text/ng-template" id="alert.html">
    <div class="alert" ng-click="alert.hide()" ng-class="{active:alert.isVisible()}">
        <div class="alert-box">
            <div class="box-icon"><i class="fa fa-exclamation"></i></div>
            <!--<div class="box-header">-->
                <!--&lt;!&ndash;Alert&ndash;&gt;-->
            <!--</div>-->
            <div class="box-content">
                <p>{{alert.getContent()}}</p>

                <div class="butn block">Got it!</div>
            </div>
        </div>


    </div>
</script>
<script type="text/ng-template" id="article-preview.html">
    <div template="article-preview" scope-id="{{id()}}">
        <div class="article-preview fi">
            <a class="box" ng-if="getContent()" ng-href="/{{getDate('YYYY')}}/{{getDate('MM')}}/{{getDate('DD')}}/{{getContent().slug}}/">
                <div class="row">
                    <!--<div ng-if="$root.getImage(getContent())">-->
                        <div class="col-xs-5">
                            <div class="article-preview-image" style="background-image: url('{{$root.getImage(getContent())}}')"></div>
                        </div>
                        <div class="col-xs-7">
                            <div>
                                <div class="tag" ng-bind-html="$root.html(getContent().terms.category[0].name)"></div>
                                <h3 ng-show="getContent()" ng-bind-html="$root.getTitle(getContent())"></h3>

                                <h3 ng-show="!getContent()" class="blokk" style="color: #333">
                                    Lorem ipsum er e bid!
                                </h3>
                            </div>
                        </div>
                    <!--</div>-->
                    <!--<div ng-if="!$root.getImage(getContent())">-->
                        <!--<div class="col-xs-12">-->
                            <!--<div>-->
                                <!--<div class="tag" ng-bind-html="$root.html(getContent().terms.category[0].name)"></div>-->
                                <!--<h3 ng-bind-html="$root.getTitle(getContent())"></h3>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>

                <!--<p>New film by Sarah Gavron is deeply moving but gender inequality remains rife in a multitude of modern societies</p>-->

            </a>
        </div>

    </div>
</script>
<script type="text/ng-template" id="article-share.html">
    <div template="article-share">
        <div class="container">
            <div class="article-share">

                <div class="share-title">Share the &nbsp;<i class="fa fa-heart"></i></div>

                <p>If you enjoyed this post, we’d be very grateful if you’d spread the love and share it on Twitter or Facebook or email it to a friend. Thank you!</p>





            </div>
        </div>


    </div>
</script>
<script type="text/ng-template" id="author-preview.html">
    <div class="author-preview">
        <a class="box">
            <flex-item>
                <flex-item row="true">
                    <div class="author-img" ng-show="!author.getAuthor().acf.profile_pic.url" style="background-image: url('{{author.getAuthor().avatar_urls['96']}})"></div>
                    <div class="author-img" ng-show="author.getAuthor().acf.profile_pic.url" style="background-image: url('{{author.getAuthor().acf.profile_pic.url}}')"></div>
                    <div>
                        <div class="author-name">
                            <h2>{{author.getAuthor().name}}</h2>

                        </div>
                    </div>

                </flex-item>

                <div style="margin-top: 15px" ng-show="author.getAuthor().description">{{author.getAuthor().description}}</div>

            </flex-item>
        </a>

        <h3>More from {{author.getAuthor().name}}</h3>
        <div style="height: 10px"></div>
        <group-item
                heading=""
                ng-if="author.getArticles().length"
                ids="author.getArticles()"
        ></group-item>
    </div>
</script>
<script type="text/ng-template" id="comments-item.html">
    <div template="comments">
        <div class="container">
            <div class="comments">
                <div class="box">
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </div>


    </div>
</script>
<script type="text/ng-template" id="flex.html">
    <div class="flex" ng-class="flex.getFlexClass()" ng-transclude>
    </div>
</script>
<script type="text/ng-template" id="foot.html">
    <div template="foot">
        <div class="foot-top">
            <div class="container">
                <p>
                    A groundbreaking commentary blog that provides a platform for challenging opinions on current affairs and culture.
                </p>
            </div>
        </div>

        <div class="foot">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <h2>Writers</h2>
                        <p>Writer's Guidelines</p>
                        <p>User Guidelines</p>
                        <p>Join</p>
                    </div>
                    <div class="col-sm-4">
                        <h2>About</h2>
                        <p>The Platform</p>
                    </div>
                    <div class="col-sm-4">
                        <h2>Get In Touch</h2>
                        <p>Subscribe</p>
                        <p>Contact Us</p>
                    </div>
                </div>

                <div class="foot-bottom">

                    Copyright &copy; 2015 The Platform. All rights reserved.
                    <div class="social pull-right">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="group.html">
    <div template="group" ids="{{ids}}">
        <div class="group fi">
            <div class="box large">
                <h2 class="box-header" ng-if="heading()" ng-bind="heading()"></h2>

                <div ng-if="!horizontal()">
                    <div class="group-preview" ng-repeat="article in getArticles()">

                        <!--<a class="box" ng-if="getContent()" ng-href="/{{getDate('YYYY')}}/{{getDate('MM')}}/{{getDate('DD')}}/{{getContent().slug}}/">-->
                        <a class="row" ng-href="{{getDateString(article)}}">
                        <!--<div class="row" ui-sref="article({id:article.ID, slug:article.slug})">-->
                            <div ng-if="$root.getImage(article)">
                                <div class="col-xs-4">
                                    <div class="preview-image" style="background-image: url('{{$root.getImage(article)}}')"></div>
                                </div>
                                <div class="col-xs-8">
                                    <div>
                                        <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                        <h3 ng-bind-html="$root.getTitle(article)"></h3>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!$root.getImage(article)">
                                <div class="col-xs-12">
                                    <div>
                                        <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                        <h3 ng-bind-html="$root.getTitle(article)"></h3>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </div>
                </div>

                <div ng-if="horizontal()">
                    <div class="group-preview">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4" ng-repeat="article in getArticles()">
                                <a ng-if="$root.getImage(article)" ng-href="{{getDateString(article)}}">
                                    <div class="col-xs-4">
                                        <div class="preview-image" style="background-image: url('{{$root.getImage(article)}}')"></div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div>
                                            <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                            <h3 ng-bind-html="$root.getTitle(article)"></h3>
                                        </div>
                                    </div>
                                </a>
                                <a ng-if="!$root.getImage(article)">
                                    <div class="col-xs-12">
                                        <div>
                                            <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                            <h3 ng-bind-html="$root.getTitle(article)"></h3>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="header.html">
    <div template="header">
        <div class="header" ng-class="{active:isMenuVisible()}">
            <div class="helper-bar">
                <div class="container">
                    About | Writers' Guidelines | Join | Platform Updates
                </div>
            </div>

            <div class="top-bar">
                <div class="container" style="position: relative">
                    <div class="logo" ui-sref="home"></div>
                    <div class="logo-text" ui-sref="home">The Platform</div>

                    <!--<div class="silent-bar">-->
                        <!--<i class="fa fa-search"></i>-->
                        <!--&nbsp; Search-->
                    <!--</div>-->

                    <!--<div class="social hidden-xs">-->
                        <!--<i class="fa fa-twitter"></i>-->
                        <!--<i class="fa fa-facebook"></i>-->
                        <!--<i class="fa fa-envelope"></i>-->
                    <!--</div>-->
                </div>

            </div>

            <div class="bottom-bar">
                <div class="container" style="position: relative">

                    <div class="item active item-search" ng-click="showSearch()">
                        <i class="fa fa-search"></i>
                        <span class="hidden-xs">&nbsp; Search</span>
                    </div>

                    <div class="menu-items">
                        <div class="item active" ui-sref="home"><i class="fa fa-home"></i></div>
                        <!--<div class="item" ui-sref="topic({cat:'features'})">Features</div>-->
                        <div class="item" ui-sref="topic({cat:'politics-and-society'})">Politics & Society</div>
                        <div class="item" ui-sref="topic({cat:'spirituality'})">Spirituality</div>
                        <div class="item" ui-sref="topic({cat:'world-universal-values'})">World</div>
                        <div class="item" ui-sref="topic({cat:'culture'})">Culture</div>
                        <!--<div class="item" ui-sref="topic({cat:'updates'})">Platform Updates</div>-->
                        <!--<div class="item">Writers' Guidelines</div>-->
                        <!--<div class="item">About</div>-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="latest.html">
    <div template="latest">
        <div class="latest fi">
            <div class="box large">

                <h2 class="box-header">{{heading()}}</h2>

                <div>
                    <div class="latest-preview" ng-repeat="article in getArticles()">
                        <a class="row" ng-href="{{getDateString(article)}}">
                            <div class="col-xs-4">
                                <div class="preview-image" style="background-image: url('{{$root.getImage(article)}}')"></div>
                            </div>
                            <div class="col-xs-8">
                                <div>
                                    <div class="tag">{{article.terms.category[0].name}}</div>
                                    <h3>{{$root.getTitle(article)}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="hero.html">
    <div template="hero">
        <div class="hero fi">
            <a class="box red" ng-href="{{getDateString(getContent())}}">
                <div class="hero-image"
                     style="height:{{getHeight()}}px"
                >
                    <div class="image-holder">
                        <div
                                class="image-img"
                                style="background-image:url('{{$root.getImage(getContent())}}')"
                        ></div>
                    </div>

                    <div class="tag" ng-bind-html="$root.getCat(getContent())"></div>
                </div>

                <h2 ng-show="getContent()" ng-bind-html="$root.getTitle(getContent())"></h2>
                <h2 ng-show="!getContent()" class="blokk" style="color: #333">
                    Lorem ipsum er e!
                </h2>
                <p ng-show="!getContent()" class="blokk" style="color: #999">
                    Lorem ips aum sasad sad s sadd Lorem ipsum dolor sit amet!
                </p>
                <p ng-bind-html="$root.getSummary(getContent())" ng-show="$root.getSummary(getContent())"></p>
                <p ng-bind-html="$root.getExcerpt(getContent())" ng-show="!$root.getSummary(getContent())"></p>

            </a>
        </div>

    </div>
</script>
<script type="text/ng-template" id="loading-item.html">
    <div template="loading">
        <div class="loading" ng-class="{active:getActive()}">
            <!--<div class="loading-text">{{getMessage()}}</div>-->

            <div class="loading-icon">
                <i class="fa fa-spin fa-cog"></i>

            </div>
            <!--<i class="fa fa-2x fa-spin fa-circle-o-notch"></i>-->

        </div>
    </div>
</script>
<script type="text/ng-template" id="search.html">
    <div class="search" ng-click="search.hide()" ng-class="{active:search.isVisible()}">

        <div class="search-box" ng-click="$event.stopPropagation()">
            <flex-item row="true">
                <input type="text" autofocus ng-model="query" ng-enter="search.go(query)">
                <div class="search-butn" ng-click="search.go(query)"><i class="fa fa-search"></i></div>

            </flex-item>

        </div>



    </div>
</script>
<script type="text/ng-template" id="share.html">
    <div template="share">
        <div class="share-float">
            <div class="share-buttons">
                <a class="butn light block" target="_blank" ng-href="http://www.facebook.com/sharer.php?u={{link}}" style="background: #3b5998;"><i class="fa fa-fw fa-facebook"></i></a>

                <a class="butn light block" target="_blank" ng-href="http://twitter.com/share?url={{link}}&text={{header}} by @Platform_Blog" style="background: #55acee;"><i class="fa fa-fw fa-twitter"></i></a>

                <a class="butn light block" target="_blank" ng-href="https://plusone.google.com/_/+1/confirm?hl=en&url={{link}}" style="background: #dc4e41;"><i class="fa fa-fw fa-google-plus"></i></a>

                <a class="butn light block" target="_blank" ng-href="mailto:?subject={{header}}&body={{link}}" style="background: #333;"><i class="fa fa-fw fa-envelope"></i></a>
            </div>
        </div>

        <div class="container">
            <div class="share" ng-class="{active:ready}">
                <div class="share-content">
                    <h2>Share the &nbsp;<i class="fa fa-heart" style="font-size: inherit;opacity: inherit"></i></h2>

                    <p>If you enjoyed this post, we’d be very grateful if you’d help it spread by emailing it to a friend, or sharing it on Twitter or Facebook. Thank you!</p>
                </div>
                <div class="share-buttons">
                    <div class="row">
                        <div class="col-xs-3">
                            <a class="butn light block" target="_blank" ng-href="http://www.facebook.com/sharer.php?u={{link}}" style="background: #3b5998;"><i class="fa fa-fw fa-facebook"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a class="butn light block" target="_blank" ng-href="http://twitter.com/share?url={{link}}&text={{header}} by @Platform_Blog" style="background: #55acee;"><i class="fa fa-fw fa-twitter"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a class="butn light block" target="_blank" ng-href="https://plusone.google.com/_/+1/confirm?hl=en&url={{link}}" style="background: #dc4e41;"><i class="fa fa-fw fa-google-plus"></i></a>
                        </div>
                        <div class="col-xs-3">
                            <a class="butn light block" target="_blank" ng-href="mailto:?subject={{header}}&body={{link}}" style="background: #333;"><i class="fa fa-fw fa-envelope"></i></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</script>
<script type="text/ng-template" id="article-screen.html">
    <div screen class="article-screen">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="box nohover">

                        <h1 class="article-header" ng-bind-html="$root.getTitle(getContent())"></h1>

                        <div class="clearfix" style="height: 60px;margin-top: -30px;padding: 0 10px;">
                            <p class="start" style="font-weight: bold">
                                {{getDate()}}

                                <span class="pull-right article-social">
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-facebook"></i>
                                </span>
                            </p>

                        </div>

                        <div class="hero-image" ng-show="$root.getImage(getContent())" style="background-image: url('{{$root.getImage(getContent())}}')">
                            <div class="tag">Culture</div>
                        </div>

                        <p class="article-content" style="line-height: 1.4;margin-bottom: 0">
                            <small>
                                <!--<span class="pull-right" style="margin-left: 40px" ng-show="getContent().featured_image.source">-->
                                <!--Image: <a href="http://www.ew.com/article/2015/09/01/london-film-festival-2015-lineup">EW.com</a>-->
                                <!--</span>-->

                                <a ng-href="/tag/{{tag.slug}}" ng-repeat="tag in $root.getTags(getContent())"> #{{tag.slug}} </a>
                                &nbsp;
                            </small>
                        </p>

                        <div style="height: 20px"></div>

                        <div class="article-content">

                            <p ng-if="getContent().acf.summary">
                                <strong ng-bind-html="$root.html(getContent().acf.summary)"></strong></p>

                            <div ng-bind-html="$root.html(getContent().content.rendered)"></div>
                        </div>

                    </div>


                </div>
                <div class="col-md-4 col-xs-12">
                    <hr class="visible-xs">
                    <div class="section-title start">
                        About The Author
                    </div>

                    <author-preview-item
                            ng-if="getContent().author"
                            author-id="{{getContent().author}}"

                    ></author-preview-item>

                    <div class="clearfix"></div>
                    <div class="section-title">
                        Subscribe
                    </div>

                    <div class="box subscribe">
                        <p>Stay updated with every article</p>
                        <div class="row">
                            <div class="col-xs-7">
                                <input type="text" placeholder="Email Address">
                            </div>
                            <div class="col-xs-5">
                                <div class="butn">Subscribe</div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="section-title">Featured Posts</div>-->
                    <!--<hero-item-->
                    <!--ng-if="getFeaturedArticle(0)"-->
                    <!--id="{{getFeaturedArticle(0).ID}}"-->
                    <!--height="150"-->
                    <!--&gt;</hero-item>-->
                    <!--<article-preview-item-->
                    <!--ng-repeat="article in getFeatured() track by $index"-->
                    <!--ng-if="$index != 0 && $index < 3"-->
                    <!--id="getFeaturedArticle($index).ID"-->
                    <!--height="150"-->
                    <!--&gt;</article-preview-item>-->

                    <!--<hr>-->

                    <group-item
                            class="hidden-xs"
                            heading="'Related Posts'"
                            ng-if="getRelatedIds()"
                            ids="getRelatedIds()"
                    ></group-item>

                    <hr>

                    <!--<latest-item-->
                    <!--heading="'Latest Posts'"-->
                    <!--&gt;</latest-item>-->

                    <!--<div class="section-title">Related Posts</div>-->

                    <!--<article-preview-item-->
                    <!--ng-repeat="article in getRelated() track by $index"-->
                    <!--ng-if="$index < 3"-->
                    <!--id="article.ID"-->
                    <!--&gt;</article-preview-item>-->
                </div>
            </div>
        </div>

        <!--<article-share-item></article-share-item>-->
        <share ng-if="getSlug()" header="{{$root.getTitle(getContent())}}" link="{{getSlug()}}"></share>


        <div class="container">
            <hr>
        </div>
        <comments-item ng-if="getContent()" article="getContent()"></comments-item>

        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <div class="section-title">You Might Also Like</div>
                </div>
                <div class="col-sm-4 col-xs-12"
                     ng-repeat="article in getRelated() track by $index"
                     ng-if="$index < 3"
                >
                    <hero-item
                            id="{{article.id}}"
                            height="250"
                    ></hero-item>
                </div>


                <div class="col-xs-12">
                    <div class="section-title">#paris</div>
                </div>
                <div class="col-sm-4 col-xs-12"
                     ng-repeat="article in getTags() track by $index"
                     ng-if="$index < 3"
                >
                    <hero-item
                            id="{{article.id}}"
                            height="250"
                    ></hero-item>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                </div>
                <div class="col-md-8 col-xs-12">
                    <hero-item
                            ng-if="getContent()"
                            id="{{getArticle(0).ID}}"
                            height="350"
                    ></hero-item>
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <article-preview-item
                                    ng-if="getContent()"
                                    id="getArticle(1).ID"
                            ></article-preview-item>

                            <article-preview-item
                                    ng-if="getContent()"
                                    id="getArticle(2).ID"
                            ></article-preview-item>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <hero-item
                                    ng-if="getContent()"
                                    id="{{getArticle(3).ID}}"
                                    height="132"
                            ></hero-item>
                        </div>
                        <div class="col-xs-12">
                            <hero-item
                                    ng-if="getContent()"
                                    id="{{getArticle(4).ID}}"
                                    height="361"
                            ></hero-item>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <latest-item
                            heading="'Latest Articles'"
                            amount="10"
                    ></latest-item>
                </div>

                <div class="col-xs-12">

                    <div class="box subscribe">
                        <p>Stay updated with every article</p>

                        <div class="row">
                            <div class="col-xs-7 col-sm-8">
                                <input type="text" placeholder="Email Address">
                            </div>
                            <div class="col-xs-5 col-sm-4">
                                <div class="butn" ng-click="subscribe()">Subscribe</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="section-title">#labour</div>
                </div>


                <div class="col-sm-4 col-xs-12"
                     ng-repeat="article in getTags() track by $index"
                     ng-if="$index < 3"
                >
                    <hero-item
                            id="{{article.id}}"
                            height="150"
                    ></hero-item>
                </div>

                <div class="col-xs-12">

                </div>

                <div class="col-sm-6 col-md-6 col-xs-12" ng-if="getInternational()">
                    <group-item
                            heading="'International'"
                            ids="getIds(getInternational(), 3)"
                            horizontal="false"
                    ></group-item>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-12" ng-if="getPolitics()">
                    <group-item
                            heading="'Politics'"
                            ids="getIds(getPolitics(), 3)"
                            horizontal="false"
                    ></group-item>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="search-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">

            <h1>Results for: {{getQuery()}}</h1>

            <!--{{getContent()}}-->
            <div ng-if="!getContent().length">No Results Found</div>

            <div class="row">
                <div class="col-xs-12">
                    <hero-item
                            ng-if="getContent()"
                            id="{{getArticle(0).id}}"
                            height="350"
                    ></hero-item>
                </div>


                <div class="col-xs-12">
                    <div class="row">

                        <div class="col-md-4 col-sm-7 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(0) track by $index"
                                    id="{{article.id}}"
                                    height="200"
                            ></hero-item>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(1) track by $index"
                                    id="{{article.id}}"
                                    height="200"
                            ></hero-item>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(2) track by $index"
                                    id="{{article.id}}"
                                    height="200"
                            ></hero-item>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="tag-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h1>#{{getTag()}}</h1>

                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(0) track by $index"
                                    id="{{article.id}}"
                                    height="300"
                            ></hero-item>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(1) track by $index"
                                    id="{{article.id}}"
                                    height="300"
                            ></hero-item>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="image-list-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container" style="min-height: 90vh;">

            <div ng-hide="getTerms()">Loading Images...</div>

            <div ng-show="getTerms()">
                Order By:
                <select name="" id="" ng-model="term" ng-init="term = 'name'">
                    <option value="name">Name</option>
                    <option value="slug">Slug</option>
                    <option value="-count">Count</option>
                </select>

                <hr>
            </div>


            <div ng-repeat="term in getTerms() | orderBy:term">

                <div class="row">
                    <div class="col-sm-4">
                        <strong>{{term.title}}</strong>
                    </div>
                    <div class="col-sm-4">
                        <strong>{{term.featured_image.source}}</strong>
                    </div>
                    <div class="col-sm-4">
                        <img ng-src="{{term.featured_image.source}}" style="height: 100px;width:auto;" alt="">
                    </div>
                </div>

            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="tag-list-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container" style="min-height: 90vh;">

            <div ng-hide="getTerms()">Loading Tags...</div>

            <div ng-show="getTerms()">
                Order By:
                <select name="" id="" ng-model="term" ng-init="term = 'name'">
                    <option value="name">Name</option>
                    <option value="slug">Slug</option>
                    <option value="-count">Count</option>
                </select>

                <hr>
            </div>


            <div ng-repeat="term in getTerms() | orderBy:term">

                <div class="row">
                    <!--<div class="col-sm-3">-->
                    <!--ID: <strong>{{term.ID}}</strong>-->
                    <!--</div>-->
                    <div class="col-sm-4">
                        Name: <strong>{{term.name}}</strong>
                    </div>
                    <div class="col-sm-4">
                        Slug: <strong>{{term.slug}}</strong>
                    </div>
                    <div class="col-sm-4">
                        Count: <strong>{{term.count}}</strong>
                    </div>
                </div>

            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="topic-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <hero-item
                            ng-if="getContent()"
                            id="{{getArticle(0).id}}"
                            height="350"
                    ></hero-item>
                </div>
                <div class="col-xs-12">
                    <div class="row">

                        <div class="col-md-4 col-sm-7 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(0) track by $index"
                                    id="{{article.id}}"
                                    height="200"
                            ></hero-item>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(1) track by $index"
                                    id="{{article.id}}"
                                    height="200"
                            ></hero-item>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(2) track by $index"
                                    id="{{article.id}}"
                                    height="200"
                            ></hero-item>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>


<script src="/public/lib.js"></script>
<script src="/public/app.js"></script>

</body>
</html>