<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <base href="/">

    <!--<title><%= title %></title>-->
    <title></title>
    <meta name="description" content="<%= ogDescription %>" />

    <meta property="og:title" content="<%= ogTitle %>" />
    <meta property="og:site_name" content="<%= ogSiteName %>"/>
    <meta property="og:url" content="<%= ogUrl %>" />
    <meta property="og:description" content="<%= ogDescription %>" />
    <meta property="og:image" content="<%= ogImage %>" />
    <meta property="og:type" content="<%= ogType %>"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Jamahiel">
    <meta name="twitter:title" content="<%= ogTitle %>">
    <meta name="twitter:description" content="<%= ogDescription %>">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,100,200,300,500,600,700,800,900|Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,900italic,900,800italic,800,700,500italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,400italic,300italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/app.css"/>
</head>
<body data-ng-app="app">

<!--<script>-->
    <!--var content = <--%- JSON.stringify(content) %>;-->
<!--</script>-->


<div ui-view></div>

<header-item></header-item>
<script type="text/ng-template" id="alert.html">
    <div template="alert">
        <div class="alert-message {{getColour()}}" ng-class="{active:getActive()}" ng-click="setActive(false)" ng-bind="getMessage()"></div>
    </div>
</script>
<script type="text/ng-template" id="foot.html">
    <div template="foot">
        <div class="foot-top">
            <div class="container">
                <p>The Platform is a groundbreaking blog that provides current affairs and cultural commentary. Our pieces offer challenging opinions from a range of spectrums; that’s why we love hosting a platform for them.</p>
            </div>
        </div>

        <div class="foot">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <h2>Writers</h2>
                        <p>Writer's Guidelines</p>
                        <p>User Guidelines</p>
                        <p>Join</p>
                    </div>
                    <div class="col-sm-4">
                        <h2>About</h2>
                        <p>The Platform</p>
                    </div>
                    <div class="col-sm-4">
                        <h2>Get In Touch</h2>
                        <p>Subscribe</p>
                        <p>Contact Us</p>
                    </div>
                </div>

                <div class="foot-bottom">

                    Copyright &copy; 2015 The Platform. All rights reserved.
                    <div class="social pull-right">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="article-preview.html">
    <div template="article-preview" scope-id="{{id}}">
        <div class="article-preview fi">
            <div class="box" ui-sref="article({id:id, slug:getContent().slug})">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="article-preview-image" style="background-image: url('{{getContent().featured_image.source}}')"></div>
                    </div>
                    <div class="col-xs-6">
                        <div>
                            <div class="tag">{{getContent().terms.category[0].name}}</div>
                            <h3>{{getContent().title}}</h3>
                        </div>
                    </div>
                </div>

                <!--<p>New film by Sarah Gavron is deeply moving but gender inequality remains rife in a multitude of modern societies</p>-->

            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="header.html">
    <div template="header">
        <div class="header" ng-class="{active:isMenuVisible()}">
            <div class="helper-bar">
                <div class="container"></div>
            </div>

            <div class="top-bar">
                <div class="logo" ui-sref="home"></div>
                <div class="logo-text" ui-sref="home">The Platform</div>

                <div class="social hidden-xs">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-envelope"></i>
                </div>
            </div>

            <div class="bottom-bar">
                <div class="container">
                    <div class="menu-items">
                        <div class="item active" ui-sref="home"><i class="fa fa-home"></i></div>
                        <div class="item">Features</div>
                        <div class="item">Politics</div>
                        <div class="item">Religion</div>
                        <div class="item">International</div>
                        <div class="item">Culture</div>
                        <div class="item">Writers' Guidelines</div>
                        <div class="item">About</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="latest.html">
    <div template="latest">
        <div class="latest fi">
            <div class="box large">

                <h2 class="box-header">{{heading}}</h2>

                <div>
                    <div class="latest-preview" ng-repeat="article in getArticles()">
                        <div class="row" ui-sref="article({id:article.ID, slug:article.slug})">
                            <div class="col-xs-4">
                                <div class="preview-image" style="background-image: url('{{article.featured_image.source}}')"></div>
                            </div>
                            <div class="col-xs-8">
                                <div>
                                    <div class="tag">{{article.terms.category[0].name}}</div>
                                    <h3>{{article.title}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <hero-item
                            ng-if="getContent()"
                            id="getArticle(0).ID"
                            height="350"
                    ></hero-item>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <article-preview-item
                                    ng-if="getContent()"
                                    id="getArticle(1).ID"
                            ></article-preview-item>

                            <article-preview-item
                                    ng-if="getContent()"
                                    id="getArticle(2).ID"
                            ></article-preview-item>
                        </div>
                        <div class="col-sm-6">
                            <hero-item
                                    ng-if="getContent()"
                                    id="getArticle(3).ID"
                                    height="132"
                            ></hero-item>
                        </div>
                        <div class="col-sm-12">
                            <hero-item
                                    ng-if="getContent()"
                                    id="getArticle(4).ID"
                            ></hero-item>
                        </div>
                        <div class="col-sm-6">
                            <!--<article-preview-item></article-preview-item>-->
                        </div>
                        <div class="col-sm-6">
                            <!--<article-preview-item></article-preview-item>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <latest-item
                            heading="'Latest Articles'"
                    ></latest-item>
                </div>
                <div class="col-sm-12"></div>
                <div class="col-sm-3">
                    <article-preview-item></article-preview-item>
                </div>
                <div class="col-sm-3">
                    <article-preview-item></article-preview-item>
                </div>
                <div class="col-sm-3">
                    <article-preview-item></article-preview-item>
                </div>
                <div class="col-sm-3">
                    <article-preview-item></article-preview-item>
                </div>
                <div class="col-sm-6">
                    <latest-item
                            heading="'Culture'"
                    ></latest-item>
                </div>
                <div class="col-sm-6">
                    <latest-item
                            heading="'Politics'"
                    ></latest-item>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="article-screen.html">
    <div screen>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!--<div style="height: 10px"></div>-->

                    <!--<div class="tag">Culture</div>-->
                    <h1>{{getContent().title}}</h1>

                    <div style="height: 10px"></div>
                    <p class="article-content" style="line-height: 1.4;margin-bottom: 0">
                        <small>
                            <span class="pull-right" style="margin-left: 40px">
                                Image: <a href="http://www.ew.com/article/2015/09/01/london-film-festival-2015-lineup">EW.com</a>
                            </span>

                            <a href="#">#BFI</a>
                            <a href="#">#Chile</a>
                            <a href="#">#cinema</a>
                            <a href="#">#Festival</a>
                            <a href="#">#film</a>
                            <a href="#">#LFF</a>
                            <a href="#">#London</a>
                            <a href="#">#review</a>
                            <a href="#">#worldcinema</a>
                        </small>
                    </p>
                    <div class="hero-image" style="background-image: url('{{getContent().featured_image.source}}');height:500px">
                        <div class="tag">Culture</div>
                    </div>
                    <div style="height: 10px"></div>

                </div>
                <div class="col-sm-8">
                    <div class="article-content">


                        <p><strong ng-bind-html="trustAsHtml(getContent().acf.summary)"></strong></p>

                        <div ng-bind-html="trustAsHtml(getContent().content)"></div>
                    </div>


                </div>
                <div class="col-sm-4">
                    <div class="section-title start">
                        About The Author
                    </div>

                    <div class="box">
                        <h2><a href="#">Louis Bayman</a></h2>
                        <hr>
                        <p>Louis Bayman is a film critic and academic based at the University of Southampton. He is also the co-editor, with Nat&aacute;lia Pinazza, of&nbsp;<em>The Directory of World Cinema: Brazil</em>&nbsp;and&nbsp;<em>World Film Locations: S&atilde;o Paulo</em>, both published by Intellect Press.
                        </p>
                    </div>
                    <div class="clearfix"></div>

                    <div class="section-title">Featured Post</div>
                    <hero-item
                            class="clearfix"
                            heading="'Suffragette: It\’s Time to Inspire Rage in the Women of Britain'"
                            summary="'New film by Sarah Gavron is deeply moving but gender inequality remains rife in a multitude of modern societies'"
                            image="'http://cdn.movieweb.com/img.site/PHBCkOvcE7GpEK_1_l.jpg'"
                            tag="'Culture'"
                            height="150"
                            link=""
                    ></hero-item>

                    <div class="section-title">Related Posts</div>
                    <article-preview-item></article-preview-item>
                    <article-preview-item></article-preview-item>
                    <article-preview-item></article-preview-item>
                </div>

                <div class="col-sm-12">
                    <div class="section-title">Related Posts</div>
                </div>
                <div class="col-sm-4">
                    <hero-item
                            heading="'The “Routine” of Gun-Control Discourse in America'"
                            summary="'Guns may have now caused enough harm to fire themselves to the top of the list of key issues in the 2016 election'"
                            image="'http://www.the-platform.org.uk/wp-content/themes/Nuke/timthumb.php?src=http://www.the-platform.org.uk/wp-content/uploads/2015/10/Gun-Law-Featured2.jpg&w=520&h=250&zc=1'"
                            tag="'Politics'"
                            height="150"
                            link=""
                    ></hero-item>
                </div>

                <div class="col-sm-4">
                    <hero-item
                            heading="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'"
                            summary="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa fuga fugit nihil perferendis possimus quae.'"
                            image="'https://unsplash.it/500/500/?random&689'"
                            tag="'Politics'"
                            height="150"
                            link=""
                    ></hero-item>
                </div>

                <div class="col-sm-4">
                    <hero-item
                            heading="'The “Routine” of Gun-Control Discourse in America'"
                            summary="'Guns may have now caused enough harm to fire themselves to the top of the list of key issues in the 2016 election'"
                            image="'https://unsplash.it/500/500/?random&567'"
                            tag="'Politics'"
                            height="150"
                            link=""
                    ></hero-item>
                </div>

                <div class="col-sm-12">
                    <div class="section-title">#Paris</div>
                </div>
                <div class="col-sm-6">
                    <article-preview-item
                            heading="'The “Routine” of Gun-Control Discourse in America'"
                            summary="'Guns may have now caused enough harm to fire themselves to the top of the list of key issues in the 2016 election'"
                            image="'https://unsplash.it/500/500/?random&685d9'"
                            tag="'Politics'"
                            height="150"
                            link=""
                    ></article-preview-item>
                </div>

                <div class="col-sm-6">
                    <article-preview-item
                            heading="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'"
                            summary="'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa fuga fugit nihil perferendis possimus quae.'"
                            image="'https://unsplash.it/500/500/?random&6859'"
                            tag="'Politics'"
                            height="150"
                            link=""
                    ></article-preview-item>
                </div>

                <div class="col-sm-6">
                    <article-preview-item
                            heading="'The “Routine” of Gun-Control Discourse in America'"
                            summary="'Guns may have now caused enough harm to fire themselves to the top of the list of key issues in the 2016 election'"
                            image="'https://unsplash.it/500/500/?random&685d339'"
                            tag="'Politics'"
                            height="150"
                            link=""
                    ></article-preview-item>
                </div>

                <div class="col-sm-6">
                    <article-preview-item
                            heading="'The “Routine” of Gun-Control Discourse in America'"
                            summary="'Guns may have now caused enough harm to fire themselves to the top of the list of key issues in the 2016 election'"
                            image="'https://unsplash.it/500/500/?random&685de339'"
                            tag="'Politics'"
                            height="150"
                            link=""
                    ></article-preview-item>
                </div>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="hero.html">
    <div template="hero">
        <div class="hero fi">
            <div class="box red" ui-sref="article({id:id, slug:getContent().slug})">
                <div class="hero-image" style="background-image: url('{{getContent().featured_image.source}}');height:{{height}}px">
                    <div class="tag">{{getContent().terms.category[0].name}}</div>
                </div>

                <h2>{{getContent().title}}</h2>
                <p>{{getContent().acf.summary}}</p>

            </div>
        </div>

    </div>
</script>


<script src="/public/lib.js"></script>
<script src="/public/app.js"></script>

</body>
</html>