<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <base href="/">

    <!--<title><%= title %></title>-->
    <title></title>
    <meta name="description" content="<%= ogDescription %>" />

    <meta property="og:title" content="<%= ogTitle %>" />
    <meta property="og:site_name" content="<%= ogSiteName %>"/>
    <meta property="og:url" content="<%= ogUrl %>" />
    <meta property="og:description" content="<%= ogDescription %>" />
    <meta property="og:image" content="<%= ogImage %>" />
    <meta property="og:type" content="<%= ogType %>"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Jamahiel">
    <meta name="twitter:title" content="<%= ogTitle %>">
    <meta name="twitter:description" content="<%= ogDescription %>">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--<link href='http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300,200,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
    <link href='https://fonts.googleapis.com/css?family=Catamaran:400,100,200,300,500,600,700,800,900|Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,900italic,900,800italic,800,700,500italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,400italic,300italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/lib.css"/>
    <link rel="stylesheet" href="/public/app.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body data-ng-app="app">

<!--<script>-->
    <!--var content = <--%- JSON.stringify(content) %>;-->
<!--</script>-->


<div ui-view></div>

<header-item></header-item>
<script type="text/ng-template" id="alert.html">
    <div template="alert">
        <div class="alert-message {{getColour()}}" ng-class="{active:getActive()}" ng-click="setActive(false)" ng-bind="getMessage()"></div>
    </div>
</script>
<script type="text/ng-template" id="article-preview.html">
    <div template="article-preview" scope-id="{{id}}">
        <div class="article-preview fi">
            <div class="box" ui-sref="article({id:id, slug:getContent().slug})">
                <div class="row">
                    <div ng-if="getContent().featured_image.source">
                        <div class="col-xs-5">
                            <div class="article-preview-image" style="background-image: url('{{getContent().featured_image.source}}')"></div>
                        </div>
                        <div class="col-xs-7">
                            <div>
                                <div class="tag" ng-bind-html="$root.html(getContent().terms.category[0].name)"></div>
                                <h3 ng-bind-html="$root.html(getContent().title)"></h3>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!getContent().featured_image.source">
                        <div class="col-xs-12">
                            <div>
                                <div class="tag" ng-bind-html="$root.html(getContent().terms.category[0].name)"></div>
                                <h3 ng-bind-html="$root.html(getContent().title)"></h3>
                            </div>
                        </div>
                    </div>

                </div>

                <!--<p>New film by Sarah Gavron is deeply moving but gender inequality remains rife in a multitude of modern societies</p>-->

            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="foot.html">
    <div template="foot">
        <div class="foot-top">
            <div class="container">
                <p>The Platform is a groundbreaking blog that provides current affairs and cultural commentary. Our pieces offer challenging opinions from a range of spectrums; that’s why we love hosting a platform for them.</p>
            </div>
        </div>

        <div class="foot">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <h2>Writers</h2>
                        <p>Writer's Guidelines</p>
                        <p>User Guidelines</p>
                        <p>Join</p>
                    </div>
                    <div class="col-sm-4">
                        <h2>About</h2>
                        <p>The Platform</p>
                    </div>
                    <div class="col-sm-4">
                        <h2>Get In Touch</h2>
                        <p>Subscribe</p>
                        <p>Contact Us</p>
                    </div>
                </div>

                <div class="foot-bottom">

                    Copyright &copy; 2015 The Platform. All rights reserved.
                    <div class="social pull-right">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="group.html">
    <div template="group" ids="{{ids}}">
        <div class="group fi">
            <div class="box large">
                <h2 class="box-header" ng-bind="heading()"></h2>

                <div ng-if="!horizontal()">
                    <div class="group-preview" ng-repeat="article in getArticles()">
                        <div class="row" ui-sref="article({id:article.ID, slug:article.slug})">
                            <div ng-if="article.featured_image.source">
                                <div class="col-xs-4">
                                    <div class="preview-image" style="background-image: url('{{article.featured_image.source}}')"></div>
                                </div>
                                <div class="col-xs-8">
                                    <div>
                                        <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                        <h3 ng-bind-html="$root.html(article.title)"></h3>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!article.featured_image.source">
                                <div class="col-xs-12">
                                    <div>
                                        <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                        <h3 ng-bind-html="$root.html(article.title)"></h3>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div ng-if="horizontal()">
                    <div class="group-preview">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4" ng-repeat="article in getArticles()">
                                <div ng-if="article.featured_image.source" ui-sref="article({id:article.ID, slug:article.slug})">
                                    <div class="col-xs-4">
                                        <div class="preview-image" style="background-image: url('{{article.featured_image.source}}')"></div>
                                    </div>
                                    <div class="col-xs-8">
                                        <div>
                                            <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                            <h3 ng-bind-html="$root.html(article.title)"></h3>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="!article.featured_image.source">
                                    <div class="col-xs-12">
                                        <div>
                                            <div class="tag" ng-bind-html="$root.html(article.terms.category[0].name)"></div>
                                            <h3 ng-bind-html="$root.html(article.title)"></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="header.html">
    <div template="header">
        <div class="header" ng-class="{active:isMenuVisible()}">
            <div class="helper-bar">
                <div class="container"></div>
            </div>

            <div class="top-bar">
                <div class="logo" ui-sref="home"></div>
                <div class="logo-text" ui-sref="home">The Platform</div>

                <div class="social hidden-xs">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-envelope"></i>
                </div>
            </div>

            <div class="bottom-bar">
                <div class="container">
                    <div class="menu-items">
                        <div class="item active" ui-sref="home"><i class="fa fa-home"></i></div>
                        <!--<div class="item" ui-sref="topic({cat:'features'})">Features</div>-->
                        <div class="item" ui-sref="topic({cat:'politics'})">Politics</div>
                        <div class="item" ui-sref="topic({cat:'spirituality'})">Religion</div>
                        <div class="item" ui-sref="topic({cat:'international'})">International</div>
                        <div class="item" ui-sref="topic({cat:'culture'})">Culture</div>
                        <div class="item" ui-sref="topic({cat:'updates'})">Platform Updates</div>
                        <div class="item">Writers' Guidelines</div>
                        <div class="item">About</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="hero.html">
    <div template="hero">
        <div class="hero fi">
            <div class="box red" ui-sref="article({id:id, slug:getContent().slug})">
                <div class="hero-image" ng-style="" style="background-image: url('{{getContent().featured_image.source}}');height:{{getHeight()}}px">
                    <div class="tag" ng-bind-html="$root.html(getContent().terms.category[0].name)"></div>
                </div>

                <!--<div class="tag" ng-if="!getContent().featured_image.source" ng-bind-html="$root.html(getContent().terms.category[0].name)"></div>-->
                <h2 ng-bind-html="$root.html(getContent().title)"></h2>
                <p ng-bind-html="$root.html(getContent().acf.summary)" ng-show="getContent().acf.summary"></p>
                <p ng-bind-html="$root.html(getContent().excerpt)" ng-show="!getContent().acf.summary"></p>

            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="latest.html">
    <div template="latest">
        <div class="latest fi">
            <div class="box large">

                <h2 class="box-header">{{heading}}</h2>

                <div>
                    <div class="latest-preview" ng-repeat="article in getArticles()">
                        <div class="row" ui-sref="article({id:article.ID, slug:article.slug})">
                            <div class="col-xs-4">
                                <div class="preview-image" style="background-image: url('{{article.featured_image.source}}')"></div>
                            </div>
                            <div class="col-xs-8">
                                <div>
                                    <div class="tag">{{article.terms.category[0].name}}</div>
                                    <h3>{{article.title}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</script>
<script type="text/ng-template" id="home-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <hero-item
                            ng-if="getContent()"
                            id="getArticle(0).ID"
                            height="350"
                    ></hero-item>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <article-preview-item
                                    ng-if="getContent()"
                                    id="getArticle(1).ID"
                            ></article-preview-item>

                            <article-preview-item
                                    ng-if="getContent()"
                                    id="getArticle(2).ID"
                            ></article-preview-item>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <hero-item
                                    ng-if="getContent()"
                                    id="getArticle(3).ID"
                                    height="132"
                            ></hero-item>
                        </div>
                        <div class="col-xs-12">
                            <hero-item
                                    ng-if="getContent()"
                                    id="getArticle(4).ID"
                                    height="361"
                            ></hero-item>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <latest-item
                            heading="'Latest Articles'"
                            amount="6"
                    ></latest-item>
                </div>
                <div class="col-xs-12">
                    <div class="section-title">#labour</div>
                </div>


                <div class="col-sm-4 col-xs-12"
                     ng-repeat="article in getTags() track by $index"
                     ng-if="$index < 3"
                >
                    <hero-item
                            id="article.ID"
                            height="150"
                    ></hero-item>
                </div>

                <div class="col-sm-3 col-xs-12" ng-if="getInternational()">
                    <group-item
                            heading="'International'"
                            ids="getIds(getInternational(), 3)"
                            horizontal="false"
                    ></group-item>
                </div>
                <div class="col-sm-3 col-xs-12" ng-if="getPolitics()">
                    <group-item
                            heading="'Politics'"
                            ids="getIds(getPolitics(), 3)"
                            horizontal="false"
                    ></group-item>
                </div>
                <div class="col-sm-3 col-xs-12" ng-if="getCulture()">
                    <group-item
                            heading="'Culture'"
                            ids="getIds(getCulture(), 3)"
                            horizontal="false"
                    ></group-item>
                </div>
                <div class="col-sm-3 col-xs-12" ng-if="getReligion()">
                    <group-item
                            heading="'Religion'"
                            ids="getIds(getReligion(), 3)"
                            horizontal="false"
                    ></group-item>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="article-screen.html">
    <div screen>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <h1 ng-bind-html="$root.html(getContent().title)"></h1>

                    <div style="height: 10px"></div>
                    <p class="article-content" style="line-height: 1.4;margin-bottom: 0">
                        <small>
                            <span class="pull-right" style="margin-left: 40px" ng-show="getContent().featured_image.source">
                                Image: <a href="http://www.ew.com/article/2015/09/01/london-film-festival-2015-lineup">EW.com</a>
                            </span>

                            <a ng-href="/tag/{{tag.slug}}" ng-repeat="tag in getContent().terms.post_tag"> #{{tag.slug}} </a>
                            &nbsp;
                        </small>
                    </p>

                    <div class="hero-image" ng-show="getContent().featured_image.source" style="background-image: url('{{getContent().featured_image.source}}');height:500px">
                        <div class="tag">Culture</div>
                    </div>


                    <div style="height: 10px"></div>

                </div>
                <div class="col-sm-8 col-xs-12">
                    <div class="article-content">


                        <p><strong ng-bind-html="$root.html(getContent().acf.summary)"></strong></p>

                        <div ng-bind-html="$root.html(getContent().content)"></div>
                    </div>


                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="section-title start">
                        About The Author
                    </div>

                    <div class="box">
                        <h2><a ng-bind-html="$root.html(getContent().author.name)"></a></h2>
                        <hr ng-if="getContent().author.description">
                        <p ng-if="getContent().author.description" ng-bind-html="$root.html(getContent().author.description)"></p>
                    </div>
                    <div class="clearfix"></div>

                    <div class="section-title">Featured Posts</div>
                    <hero-item
                            ng-if="getFeaturedArticle(0)"
                            id="getFeaturedArticle(0).ID"
                            height="150"
                    ></hero-item>
                    <article-preview-item
                            ng-repeat="article in getFeatured() track by $index"
                            ng-if="$index != 0 && $index < 3"
                            id="getFeaturedArticle($index).ID"
                            height="150"
                    ></article-preview-item>

                    <hr>

                    <group-item
                            heading="'Related Posts'"
                            ng-if="getRelatedIds()"
                            ids="getRelatedIds()"
                    ></group-item>

                    <!--<div class="section-title">Related Posts</div>-->

                    <!--<article-preview-item-->
                    <!--ng-repeat="article in getRelated() track by $index"-->
                    <!--ng-if="$index < 3"-->
                    <!--id="article.ID"-->
                    <!--&gt;</article-preview-item>-->
                </div>

                <div class="col-xs-12">
                    <div class="section-title">You Might Also Like</div>
                </div>
                <div class="col-sm-4 col-xs-12"
                     ng-repeat="article in getRelated() track by $index"
                     ng-if="$index < 3"
                >
                    <hero-item
                            id="article.ID"
                            height="250"
                    ></hero-item>
                </div>


                <div class="col-xs-12">
                    <div class="section-title">#paris</div>
                </div>
                <div class="col-sm-4 col-xs-12"
                     ng-repeat="article in getTags() track by $index"
                     ng-if="$index < 3"
                >
                    <hero-item
                            id="article.ID"
                            height="250"
                    ></hero-item>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="image-list-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container" style="min-height: 90vh;">

            <div ng-hide="getTerms()">Loading Images...</div>

            <div ng-show="getTerms()">
                Order By:
                <select name="" id="" ng-model="term" ng-init="term = 'name'">
                    <option value="name">Name</option>
                    <option value="slug">Slug</option>
                    <option value="-count">Count</option>
                </select>

                <hr>
            </div>


            <div ng-repeat="term in getTerms() | orderBy:term">

                <div class="row">
                    <div class="col-sm-4">
                        <strong>{{term.title}}</strong>
                    </div>
                    <div class="col-sm-4">
                        <strong>{{term.featured_image.source}}</strong>
                    </div>
                    <div class="col-sm-4">
                        <img ng-src="{{term.featured_image.source}}" style="height: 100px;width:auto;" alt="">
                    </div>
                </div>

            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="tag-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <h1>#{{getTag()}}</h1>

                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(0) track by $index"
                                    id="article.ID"
                                    height="300"
                            ></hero-item>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(1) track by $index"
                                    id="article.ID"
                                    height="300"
                            ></hero-item>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="tag-list-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container" style="min-height: 90vh;">

            <div ng-hide="getTerms()">Loading Tags...</div>

            <div ng-show="getTerms()">
                Order By:
                <select name="" id="" ng-model="term" ng-init="term = 'name'">
                    <option value="name">Name</option>
                    <option value="slug">Slug</option>
                    <option value="-count">Count</option>
                </select>

                <hr>
            </div>


            <div ng-repeat="term in getTerms() | orderBy:term">

                <div class="row">
                    <!--<div class="col-sm-3">-->
                    <!--ID: <strong>{{term.ID}}</strong>-->
                    <!--</div>-->
                    <div class="col-sm-4">
                        Name: <strong>{{term.name}}</strong>
                    </div>
                    <div class="col-sm-4">
                        Slug: <strong>{{term.slug}}</strong>
                    </div>
                    <div class="col-sm-4">
                        Count: <strong>{{term.count}}</strong>
                    </div>
                </div>

            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>
<script type="text/ng-template" id="topic-screen.html">
    <div screen style="background: #f7f7f7">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <hero-item
                            ng-if="getContent()"
                            id="getArticle(0).ID"
                            height="350"
                    ></hero-item>
                </div>
                <div class="col-xs-12">
                    <div class="row">

                        <div class="col-md-4 col-sm-7 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(0) track by $index"
                                    id="article.ID"
                                    height="200"
                            ></hero-item>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(1) track by $index"
                                    id="article.ID"
                                    height="200"
                            ></hero-item>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <hero-item
                                    ng-repeat="article in getContentHalf(2) track by $index"
                                    id="article.ID"
                                    height="200"
                            ></hero-item>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <foot-item></foot-item>
    </div>
</script>


<script src="/public/lib.js"></script>
<script src="/public/app.js"></script>

</body>
</html>